<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=0.5" />
	<meta name="description" content="">

  
    
  	<title> Close to Home </title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   

  	
</head>
<body>
<%= render "/layouts/navbar" %>

<header>

<div Class = "container">
</header>
<%= yield %>
<div>
<%= link_to "Enter", users_search_path, class: "btn btn-primary btn-lg" %>
</div>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div class="container marketing">


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

    

</body>
</html>

